[Desktop Entry]
Encoding=UTF-8
Name=HaloCoin
Comment=HaloCoin P2P Cryptocurrency
Comment[fr]=HaloCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HaloCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/halocoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/halocoin;
Categories=Office;
